/* PRELOADER */

.preloader {
    width: 100vw;
    height: calc(100vh - 3vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    animation: spin 1s linear Infinite;
}

.spinner div {
    width: 3vw;
    height: 3vw;
    border: 5px solid green;
    border-top-color: transparent;
    border-radius: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}